Source: message
Maintainer: Like Ma <likemartinma@gmail.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python3-setuptools, python-all (>= 2.6.6-3), python3-all, debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-message
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: A message-oriented programming library for Python 2.
 See http://code.google.com/p/python-message for documentation.

Package: python3-message
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A message-oriented programming library for Python 3.
 See http://code.google.com/p/python-message for documentation.
